.dotbar{
    position: fixed;
    right: 3%;
    top: 0px;
    bottom: 0px;
    margin: auto 0;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 100;
}
.dotw{
    cursor: pointer;
    width: 15px;
    height: 15px;
    display: grid;
    place-items: center;
    border-radius: 50%;
}